<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form *ngIf="!isRegister">
  <h3>Войти</h3>

  <label for="username">Ник пользователя</label>
  <input type="text" name="username" [(ngModel)]="loginObj.username" placeholder="Введите ник пользователя" id="username">

  <label for="password">Пароль</label>
  <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Введите пароль" id="password">

  <button type="button" style="color: black" (click)="onLogin()">Войти</button>
  <div class="social">
    <div class="go" (click)="isRegister = !isRegister"> <i class="fab fa-google"></i>  Регистрация</div>
     
  </div>
</form>
<form *ngIf="isRegister">
  <h3>Регистрироваться</h3>

  <label for="register-username">Ник пользователя</label>
  <input type="text" name="registerUsername" [(ngModel)]="registerObj.username" placeholder="Введите ник пользователя" id="register-username">

  <label for="register-email">Почта</label>
  <input type="email" name="registerEmail" [(ngModel)]="registerObj.email" placeholder="Введите почту" id="register-email">

  <label for="register-password">Пароль</label>
  <input type="password" name="registerPassword" [(ngModel)]="registerObj.password" placeholder="Введите пароль" id="register-password">

  <label for="register-password2">Подтверждение пароля</label>
  <input type="password" name="registerPassword2" [(ngModel)]="registerObj.password2" placeholder="Повторите пароль" id="register-password2">

  <label for="register-role">Роль</label>
  <select id="register-role" name="registerRole" [(ngModel)]="registerObj.role">
    <option value="buyer">Покупатель</option>
    <option value="seller">Продавец</option>
  </select>

  <button type="button" style="color: black" (click)="onRegister()">Регистрироваться</button>
  <div class="social">
    <div class="go" (click)="isRegister = !isRegister"> <i class="fab fa-google"></i>  Логин</div>
    
  </div>
</form>